body {
    color: #afb1b3;
    font-family: Montserrat, Helvetica Neue, Helvetica, sans-serif;
    margin: 0;
    background-image: url(../assets/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 700px;
}

._dash-loading {
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    left: 50%;
}

._dash-undo-redo {
  display: none;
}

.modebar {
    background-color: transparent;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#left-header {
    display: flex;
    align-items: center;
}

#logo {
    width: 3.5em;
    vertical-align: middle;
    margin: 0 0.5em;
    align-self: center;
}

#logo:hover {
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.5s ease-in-out 0s;
}

#title {
    color: orange;
    font-size: 1.75em;
    font-weight: 350;
    letter-spacing: 0.03em;
    margin: 1em 0;
    display: inline-block;
    vertical-align: middle;
}

#subtitle {
    color: white;
    display: inline-block;
}

.sites-layout {
    text-align: center;
    color: white;
}

.sites-table-container{
    display: flex;
    justify-content: space-around;
}

.sites-table {
    width: 40%;
    color: #afb1b3;
}

.page-title {
    text-align: center;
    color: white;
    letter-spacing: 0.5px;
}

.page-title {
    text-align: center;
    color: white;
    letter-spacing: 0.5px;
}

.list-slider-container {
    text-align: center;
}

.list-page-slider{
    width: 75% !important;
    margin: auto;
}

.clustering-page {
    padding: 20px;
}

.clustering-group {
    border-bottom: 1px solid #afb1b3;
}

.clustering-top-text {
    margin-top: 5px;
    font-weight: bold;
}

.clustering-feedback {
    padding: 0 20px;
}

.search-download-link {
    float: right;
    margin-bottom: 10px;
}