body {
    color: #afb1b3;
    background-color: rgb(30,30,30);
    font-family: sans-serif;
}

._dash-loading {
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    left: 50%;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title {
    color: orange;
    font-family: Helvetica;
    font-size: 1.75em;
    font-weight: 350;
    letter-spacing: 0.03em;
    margin: 1em 0;
    display: inline-block;
}

.tab-parent {
    display:inline-block;
    float: right;
    margin: 1.75em 0;
}